<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<form action="/account/register" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="account_firstname" required>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="account_lastname" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="account_email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
  
  <!-- Password requirements section -->
  <div class="password-requirements">
    <ul>
      <li>At least 12 characters long</li>
      <li>At least 1 uppercase letter</li>
      <li>At least 1 number</li>
      <li>At least 1 special character (e.g., @, #, $, %, etc.)</li>
    </ul>
  </div>

  <button type="submit">Register</button>
</form>
